.container-quieroestarasegurado,
.container-iniciacurso{
    text-align: center;
}


h1{
    text-align: center;
}
.card .card-body .card-title{
    text-align: center;
}

.container-video{
    text-align: center;
}
.container-video iframe,
.container-video-video{
    text-align: center;
    width:"560";
    height:"315";
}

.show{
    display: block;
}
.hide{
    display: none;
}

@media only screen and (max-width: 600px) {
    .container-video iframe{ 
        max-width: 300px;
    }
} 