.container-quieroestarasegurado{
    /* text-align: center; */
}

h1{
    text-align: center;
}
.card .card-body .card-title{
    text-align: center;
}

.container-video{
    text-align: center;
}
.container-video iframe,
.container-video-video{
    text-align: center;
    width:"560";
    height:"315";
}


@media only screen and (max-width: 600px) {
    .container-video iframe{ 
        max-width: 300px;
    }
} 