/* SLIDER */
.carousel-inner .carousel-item img{
    height: 600px;
}
.carousel-inner .carousel-item .carousel-caption,
.carousel-inner .carousel-item .carousel-caption p a{
    padding: 0 15px;
    background-color: white;
    color: black;
    border-radius: 12px;
}


.carousel-inner .carousel-item .alita-position-absolute{
    bottom: 250px;
    left: 55%;
}

a .carousel-caption .quepodemoshacerporti{
    font-size: 36px;
}

.containder-flaticon-personalizando:hover{
    opacity: 0.6;
}

.containder-flaticon-personalizando{
    opacity: 0.9;
}
.containder-flaticon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.containder-flaticon-personalizando svg{
    max-width: 80px;
    margin: 10px;
    
}

.card-deck .card img{
    height: 200px;
}

i p{
    text-align: center;
}



/* FOOTER */
.card p a{
    display: flex;
    padding: 8px;

}
.logo-bbva{
    width: 200px;
}
.card .footer-margin{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-margin-links{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.my-footer .card{
    background: 0000CD;
    /* color: white; */
}
.img-fondor-footer{
    height: 350px;
}

@media only screen and (max-width: 600px) {
    .containder-flaticon{
        /* flex-direction: column; */
    }

    .containder-flaticon-personalizando svg{
        width: 30px;
        margin: 10px;
    }

    .card .footer-margin{
        display: flex;
        flex-direction: column;
        
    }

    .carousel-inner .carousel-item img{
        height: 250px;
    }
    .img-fondor-footer{
        height: 620px;
    }
}