.form-registro{
    display: flex;
    flex-direction: column;
}
.show{
    display: block;
}
.hide{
    display: none;
}

@media only screen and (max-width: 600px) {
    .form-registro{
        flex-direction: row;
    }
    

}