h1,h3{
    text-align: center;
}

.form-registro{
    background-color: 0000cd;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.form-registro .form-group input{
    width: 400px;
}
#form-registro-btnregistrar{
    background-color: 0000CD;
}
.show{
    display: block;
}
.hide{
    display: none;
}

@media only screen and (max-width: 600px) {
    .form-registro .form-group input{
        max-width: 300px;
    }
} 
